Repository 47ng/nuqs, pull requests merged in 2024-11, with the labels that each got.

#764 fix: Make the testing adapter clear the URL queue
  packages/nuqs/src/adapters/testing.ts
  packages/nuqs/src/update-queue.ts
Labels: adapters/testing

#768 chore: Update React to 19 RC1
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: internal

#769 fix(serializer/types): Allow `null` value in serializer for parsers with default values
  packages/nuqs/src/parsers.ts
  packages/nuqs/src/serializer.test.ts
  packages/nuqs/src/serializer.ts
  packages/nuqs/src/tests/serializer.test-d.ts
Labels: deploy:preview

#776 fix: Update useQueryStates state cache when syncing from useSearchParams
  packages/e2e/next/cypress/e2e/repro-774.cy.js
  packages/e2e/next/src/app/app/repro-774/page.tsx
  packages/nuqs/src/useQueryStates.ts
Labels: feature/useQueryStates
