Repository 47ng/nuqs, pull requests merged in 2025-01, with the labels that each got.

#841 fix: Referential stability for the state updater function
  packages/e2e/next/cypress/e2e/shared/referential-stability.cy.ts
  packages/e2e/next/src/app/app/(shared)/referential-stability/useQueryState/page.tsx
  packages/e2e/next/src/app/app/(shared)/referential-stability/useQueryStates/page.tsx
  packages/e2e/next/src/pages/pages/referential-stability/useQueryState.tsx
  packages/e2e/next/src/pages/pages/referential-stability/useQueryStates.tsx
  packages/e2e/react-router/v6/cypress/e2e/shared/referential-stability.cy.ts
  packages/e2e/react-router/v6/src/react-router.tsx
  packages/e2e/react-router/v6/src/routes/referential-stability.useQueryState.tsx
  packages/e2e/react-router/v6/src/routes/referential-stability.useQueryStates.tsx
  packages/e2e/react-router/v7/app/routes.ts
  packages/e2e/react-router/v7/app/routes/referential-stability.useQueryState.tsx
  packages/e2e/react-router/v7/app/routes/referential-stability.useQueryStates.tsx
  packages/e2e/react-router/v7/cypress/e2e/shared/referential-stability.cy.ts
  packages/e2e/react/cypress/e2e/shared/referential-stability.cy.ts
  packages/e2e/react/src/routes.tsx
  packages/e2e/react/src/routes/referential-stability.useQueryState.tsx
  packages/e2e/react/src/routes/referential-stability.useQueryStates.tsx
  packages/e2e/remix/app/routes/referential-stability.useQueryState.tsx
  packages/e2e/remix/app/routes/referential-stability.useQueryStates.tsx
  packages/e2e/remix/cypress/e2e/shared/referential-stability.cy.ts
  packages/e2e/shared/specs/referential-stability.cy.ts
  packages/e2e/shared/specs/referential-stability.tsx
  packages/nuqs/src/useQueryState.ts
  packages/nuqs/src/useQueryStates.ts
Labels: feature/useQueryState, feature/useQueryStates

#840 fix: Maintain location.state in React Router frameworks
  packages/docs/content/docs/adapters.mdx
  packages/e2e/react-router/v6/cypress/e2e/repro-839.cy.ts
  packages/e2e/react-router/v6/src/react-router.tsx
  packages/e2e/react-router/v6/src/routes/repro-839.tsx
  packages/e2e/react-router/v7/app/routes.ts
  packages/e2e/react-router/v7/app/routes/repro-839.tsx
  packages/e2e/react-router/v7/cypress/e2e/repro-839.cy.ts
  packages/e2e/remix/app/routes/repro-839.tsx
  packages/e2e/remix/cypress/e2e/repro-839.cy.ts
  packages/e2e/shared/specs/react-router/repro-839-location-state-persistence.cy.ts
  packages/e2e/shared/specs/react-router/repro-839-location-state-persistence.tsx
  packages/nuqs/src/adapters/lib/react-router.ts
Labels: adapters/react-router

#844 chore: Update version range to include react-router@^6
  packages/nuqs/package.json
  pnpm-lock.yaml
Labels: adapters/react-router

#849 perf: Optimise render counts
  packages/e2e/next/cypress/e2e/shared/render-count.cy.ts
  packages/e2e/next/package.json
  packages/e2e/next/src/app/app/(shared)/render-count/[hook]/[shallow]/[history]/[startTransition]/page.tsx
  packages/e2e/next/src/pages/pages/render-count/[hook]/[shallow]/[history]/[startTransition]/index.tsx
  packages/e2e/react-router/v6/cypress/e2e/shared/render-count.cy.ts
  packages/e2e/react-router/v6/src/react-router.tsx
  packages/e2e/react-router/v6/src/routes/render-count.$hook.$shallow.$history.$startTransition.async-loader.tsx
  packages/e2e/react-router/v6/src/routes/render-count.$hook.$shallow.$history.$startTransition.no-loader.tsx
  packages/e2e/react-router/v6/src/routes/render-count.$hook.$shallow.$history.$startTransition.sync-loader.tsx
  packages/e2e/react-router/v7/app/routes.ts
  packages/e2e/react-router/v7/app/routes/render-count.$hook.$shallow.$history.$startTransition.async-loader.tsx
  packages/e2e/react-router/v7/app/routes/render-count.$hook.$shallow.$history.$startTransition.no-loader.tsx
  packages/e2e/react-router/v7/app/routes/render-count.$hook.$shallow.$history.$startTransition.sync-loader.tsx
  packages/e2e/react-router/v7/cypress/e2e/shared/render-count.cy.ts
  packages/e2e/react/cypress/e2e/shared/render-count.cy.ts
  packages/e2e/react/src/routes.tsx
  packages/e2e/react/src/routes/render-count.tsx
  packages/e2e/remix/app/routes/render-count.$hook.$shallow.$history.$startTransition.async-loader.tsx
  packages/e2e/remix/app/routes/render-count.$hook.$shallow.$history.$startTransition.no-loader.tsx
  packages/e2e/remix/app/routes/render-count.$hook.$shallow.$history.$startTransition.sync-loader.tsx
  packages/e2e/remix/cypress/e2e/shared/render-count.cy.ts
  packages/e2e/shared/create-test.ts
  packages/e2e/shared/cypress.config.ts
  packages/e2e/shared/specs/render-count.cy.ts
  packages/e2e/shared/specs/render-count.params.ts
  packages/e2e/shared/specs/render-count.tsx
  packages/nuqs/src/adapters/lib/patch-history.ts
  packages/nuqs/src/adapters/next/impl.app.ts
  packages/nuqs/src/useQueryStates.ts
  turbo.json
Labels: adapters/remix, adapters/react-router, feature/useQueryStates

#864 chore: Test running CI on arm64 GHA runners
  .github/workflows/ci-cd.yml
Labels: internal

#867 chore: Update deps
  package.json
  packages/docs/content/docs/testing.mdx
  packages/docs/package.json
  packages/docs/src/app/(pages)/_landing/demo.client.tsx
  packages/docs/src/app/globals.css
  packages/docs/src/components/code-block-highlighter.ts
  packages/e2e/next/package.json
  packages/e2e/react-router/v6/package.json
  packages/e2e/react-router/v7/package.json
  packages/e2e/react/package.json
  packages/e2e/remix/package.json
  packages/e2e/shared/package.json
  packages/nuqs/package.json
  packages/nuqs/src/tests/cache.test-d.ts
  packages/nuqs/src/tests/parsers.test-d.ts
  packages/nuqs/src/tests/serializer.test-d.ts
  packages/nuqs/src/tests/useQueryState.test-d.ts
  packages/nuqs/src/tests/useQueryStates.test-d.ts
  packages/scripts/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: dependencies

#871 fix: Allow useQueryStates' state updater function to return null
  packages/nuqs/src/tests/useQueryStates.test-d.ts
  packages/nuqs/src/useQueryStates.test.ts
  packages/nuqs/src/useQueryStates.ts
Labels: feature/useQueryStates

#858 fix: Dynamic keys for useQueryStates
  packages/nuqs/src/useQueryStates.test.ts
  packages/nuqs/src/useQueryStates.ts
Labels: feature/useQueryStates

#878 test: Add test for the agnostic adapter
  packages/e2e/next/cypress/e2e/shared/basic-io.cy.ts
  packages/e2e/next/src/app/app/agnostic/basic-io/page.tsx
  packages/e2e/next/src/app/app/agnostic/layout.tsx
  packages/e2e/next/src/pages/pages/agnostic/basic-io.tsx
  turbo.json
Labels: adapters/next/app, adapters/next/pages

#847 doc: Update wording for the "missing suspense boundary" guidelines
  packages/docs/content/docs/troubleshooting.mdx
Labels: documentation

#848 doc: Add Waku community adapter
  packages/docs/content/docs/community-adapters/waku.mdx
Labels: documentation, adapters/community

#753 doc: add break word all for better ux
  demo-tabs.tsx
  packages/docs/src/app/(pages)/_landing/demo.client.tsx
  packages/docs/src/app/(pages)/_landing/demo.tsx
Labels: documentation
