Repository 47ng/nuqs, pull requests merged in 2025-04, with the labels that each got.

#963 chore(docs): Waku v0.22 community adapter useRouter update
  packages/docs/content/docs/community-adapters/waku.mdx
Labels: adapters/community

#971 chore: Next.js 15.3.0 with Turbopack build
  packages/docs/package.json
  packages/e2e/next/package.json
  packages/nuqs/package.json
  packages/nuqs/scripts/prepack.sh
  pnpm-lock.yaml
Labels: documentation, dependencies

#939 fix: Import from next/navigation.js
  packages/nuqs/src/adapters/next/impl.app.ts
Labels: adapters/next/app, adapters/next/pages

#973 fix: Increase rate-limit factor for Next.js app router
  packages/e2e/next/src/app/app/(shared)/rate-limits/page.tsx
  packages/e2e/next/src/pages/pages/rate-limits.tsx
  packages/e2e/react-router/v6/src/react-router.tsx
  packages/e2e/react-router/v6/src/routes/rate-limits.tsx
  packages/e2e/react-router/v7/app/routes.ts
  packages/e2e/react-router/v7/app/routes/rate-limits.tsx
  packages/e2e/react/src/main.tsx
  packages/e2e/react/src/routes.tsx
  packages/e2e/react/src/routes/rate-limits.tsx
  packages/e2e/remix/app/routes/rate-limits.tsx
  packages/e2e/shared/specs/rate-limits.tsx
  packages/nuqs/src/adapters/next/impl.app.ts
Labels: adapters/next/app

#977 chore: Update dependencies
  package.json
  packages/docs/package.json
  packages/e2e/next/package.json
  packages/e2e/react-router/v6/package.json
  packages/e2e/react-router/v7/package.json
  packages/e2e/react/package.json
  packages/e2e/remix/package.json
  packages/e2e/shared/package.json
  packages/nuqs/package.json
  packages/scripts/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: dependencies

#980 chore: Update runners to ubuntu-24.04-arm
  .github/workflows/analyse-nextjs-release.yml
  .github/workflows/ci-cd.yml
  .github/workflows/milestone-automation.yml
  .github/workflows/pkg.pr.new.yml
  .github/workflows/pr-base-enforcement.yml
  .github/workflows/ship-it.yml
  .github/workflows/snapshot-release.yml
  .github/workflows/test-against-nextjs-release.yml
Labels: internal

#983 fix: Multiple query reordering in Next.js pages router internal state
  packages/e2e/next/cypress/e2e/shared/repro-982.cy.ts
  packages/e2e/next/src/app/app/(shared)/repro-982/page.tsx
  packages/e2e/next/src/pages/pages/repro-982.tsx
  packages/e2e/react-router/v6/cypress/e2e/shared/repro-982.cy.ts
  packages/e2e/react-router/v6/src/react-router.tsx
  packages/e2e/react-router/v6/src/routes/repro-982.tsx
  packages/e2e/react-router/v7/app/routes.ts
  packages/e2e/react-router/v7/app/routes/repro-982.tsx
  packages/e2e/react-router/v7/cypress/e2e/shared/repro-982.cy.ts
  packages/e2e/react/cypress/e2e/shared/repro-982.cy.ts
  packages/e2e/react/src/routes.tsx
  packages/e2e/react/src/routes/repro-982.tsx
  packages/e2e/remix/app/routes/repro-982.tsx
  packages/e2e/remix/cypress/e2e/shared/repro-982.cy.ts
  packages/e2e/shared/specs/repro-982.cy.ts
  packages/e2e/shared/specs/repro-982.tsx
  packages/nuqs/src/adapters/next/impl.pages.test.ts
  packages/nuqs/src/adapters/next/impl.pages.ts
Labels: adapters/next/pages

#976 doc: Add blog section
  packages/docs/content/blog/nuqs-2.og.png
  packages/docs/public/avatar-128.jpeg
  packages/docs/src/app/(pages)/_landing/page-footer.tsx
  packages/docs/src/app/(pages)/blog/[slug]/_components/author.tsx
  packages/docs/src/app/(pages)/blog/[slug]/opengraph-image.jpg
  packages/docs/src/app/(pages)/blog/[slug]/opengraph-image.tsx
  packages/docs/src/app/(pages)/blog/[slug]/page.tsx
  packages/docs/src/app/(pages)/blog/[slug]/twitter-image.jpg
  packages/docs/src/app/(pages)/blog/[slug]/twitter-image.tsx
  packages/docs/src/app/(pages)/blog/_lib/source.ts
  packages/docs/src/app/(pages)/blog/opengraph-image.jpg
  packages/docs/src/app/(pages)/blog/page.tsx
  packages/docs/src/app/(pages)/blog/rss.xml/route.ts
  packages/docs/src/app/(pages)/blog/twitter-image.jpg
  packages/docs/src/app/(pages)/page.tsx
  packages/docs/src/app/(pages)/react-paris/page.tsx
  packages/docs/src/app/globals.css
  packages/docs/src/assets/fonts/Inter_24pt-Bold.ttf
  packages/docs/src/assets/fonts/Inter_24pt-Light.ttf
  packages/docs/src/assets/fonts/Inter_24pt-Medium.ttf
  packages/docs/src/assets/fonts/Inter_24pt-Regular.ttf
  packages/docs/src/assets/fonts/Inter_24pt-SemiBold.ttf
  packages/docs/src/assets/images/og-bg.png
  packages/docs/src/components/47ng.tsx
  packages/docs/src/components/shared-layout.tsx
  packages/docs/src/components/ui/breadcrumb.tsx
  pnpm-lock.yaml
Labels: documentation, blog

#985 chore: Use React Compiler RC
  .github/workflows/ci-cd.yml
  .github/workflows/test-against-nextjs-release.yml
  packages/e2e/next/package.json
  pnpm-lock.yaml
Labels: dependencies, internal
